<h1>Select a Wiki:</h1>

<% @wikis.each do |wiki| %>
<div><%= link_to wiki.title, wiki_path(wiki) %>
  </div>
<% end %>

<% if policy(Wiki.new).create? %>
  <%= link_to "Create New Wiki", new_wiki_path, class: 'btn btn-success'%>
<% end %>